#aprendeML.learning.clearfix
  %h3
    Aprende sobre MercadoLibre
  %ul.aprende
    %li.listGuion
      \-
      %a.bigLink{ :href => "#" }
        Como omo comprar
    %li.listGuion
      \-
      %a.bigLink{ :href => "#" }
        Consejos para una transaccion eon exitosa
  %ul.aprende
    %li.listGuion
      \-
      %a.bigLink{ :href => "#" }
        Porque MercadoLibre es seguro
    %li.listGuion
      \-
      %a.bigLink{ :href => "#" }
        Como pago mi compra
