#prefPago.boxGral
  %h3
    = t :preferencia_pago
  #pago
    %h4
      = t :texto_pago
    %ul
      - for paymentMethod in @paymentMethods
        %li
          \-
          = paymentMethod.name
    %fieldset
      %legend
        MercadoPago
        %a{ :href => "" }
          Que es?
      %img{ :src => "/assets/mcards_mla.gif", :alt => "tarjetas argentina" }
      %img{ :src => "/assets/med_ar_296x23.gif", :alt => "medios de pago argentina" }
      %span
        Hasta 12 cuotas sin interes con tarjetas del Hipotecario, Standard y Patagonia.
  %div
    %h4
      Envio
    %ul
      - for shipMethod in @shipMethods
        %li
          \- 
          = shipMethod.description
    %table.deli1{ :width => "648", :cellspacing => "0", :cellpadding => "0", :align => "center", :style => "", :height => "40px" }
      %tbody
        %tr
          %td{ :width => "50%", :height => "20" }
            %table.deli2{ :width => "100%", :border => "0", :cellpadding => "0", :cellspacing => "0" }
              %tbody
                %tr
                  %td
                    Gran Bs. As. x kilometro
                  %td{ :align => "right" }
                    $ 1.90
          %td{ :width => "50%", :height => "20" }
            %table.deli2{ :width => "100%", :border => "0", :cellpadding => "0", :cellspacing => "0" }
              %tbody
                %tr
                  %td
                    MICRO TERMINAL RETIRO MOTO
                  %td{ :align => "right" }
                    $ 12.00
        %tr
          %td{ :width => "50%", :height => "20" }
            %table.deli2{ :width => "100%", :border => "0", :cellpadding => "0", :cellspacing => "0" }
              %tbody
                %tr
                  %td
                    Capital maximo
                  %td{ :align => "right" }
                    $ 30.00
          %td{ :width => "50%", :height => "20" }
            %table.deli2{ :width => "100%", :border => "0", :cellpadding => "0", :cellspacing => "0" }
              %tbody
                %tr
                  %td
                  %td{ :align => "right" }
                    \&nbsp;
