#footer
  %p
    %a{ :href => "http://www.mercadolibre.com.ar", :rel => "nofollow" }
      Inicio
    |
    %a{ :href => "/sitemap.html", :rel => "nofollow" }
      Mapa del Sitio
    |
    %a{ :href => "http://www.mercadolibre.com", :rel => "nofollow" }
      Ver otros paises
  %hr
  %p.copyright
    El uso de este sitio web implica la aceptacion de los
    %a{ :href => "/seguro_terminos.html", :target => "_blank", :rel => "nofollow" }
      Terminos y Condiciones
    y de las
    %a{ :href => "/seguro_privacidad.html", :rel => "nofollow" }
      Politicas de Privacidad
    de MercadoLibre S.A. Copyright  1999-2010 MercadoLibre S.A.
/
  end footer
