%head
  %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
  %title
    = h(yield(:title) || "Untitled")
  /
    %base{ :href => "http://www.mercadolibre.com.ar/argentina/ml/" }
  = stylesheet_link_tag 'reset'
  = stylesheet_link_tag 'base'
  = stylesheet_link_tag 'vip'
  /%link{ :href => "/stylesheets/reset.css", :type => "text/css", :rel => "stylesheet" }
  /%link{ :href => "/stylesheets/base.css", :type => "text/css", :rel => "stylesheet" }
  /%link{ :href => "/stylesheets/vip.css", :type => "text/css", :rel => "stylesheet" }
