#header
  %h1
    %a{ :href => "http://www.mercadolibre.com.ar" }
      MercadoLibre. Donde compras y vendes de todo.
  %p.sub
    %a#inicio{ :href => "" }
      =t :inicio
    %a#ayuda{ :href => "" }
      =t :ayuda
  .search
    %form#formBuscar{ :method => "get", :action => "http://www.mercadolibre.com.ar/jm/search" }
      %label{ :accesskey => "tb", :for => "as_word" }
        %span
          Ingresa tu busqueda
        %input#as_inner_word.i-buscar{ :type => "text", :tabindex => "1", :value => "", :maxlength => "60", :name => "as_word", :autocomplete => "off" }
      %input.b-buscar{ :type => "submit", :tabindex => "2", :accesskey => "b", :value => "Buscar" }
